*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* HEADER STYLING START */
header{
    height:70px;
    background-color: rgba(2, 55, 112, 0.921);
    padding:8px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash-navigation{
    width:100%;
    display:flex;
    justify-content: space-between;
}
.dash-menu-logo{
    display: flex;
    align-items: center;
}
.dash-menu ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding:0 20px;
}

.dash-menu ul li a{
    text-decoration: none;
    color:rgb(219, 219, 219);
    margin: 0 8px;
    font-size:15px;
    font-weight: 400;

}

.dash-logo i{
    font-size: 35px;
    color:white;
}

.dash-account{
    display: flex;
    align-items: center;
    color:rgb(219, 219, 219);
}

.dash-account span{
    padding: 0 8px;
}
/* HEADER STYLING END */

/* MAIN SECTION START */

/* MAIN SECTION END */



